body {
  background-color: rgb(255, 255, 255);
  font: 700 1em/1.48 Helvetica;
  color: rgb(0, 0, 0);
}

.are {
  position: relative;
  float: left;
  clear: both;
  z-index: 63;
  width: 80%;
  height: 273px;
  margin-left: 10%;
  border-top: 5px solid rgb(10, 28, 38);
}

.are .image {
  position: relative;
  float: left;
  clear: both;
  z-index: 56;
  width: 157px;
  margin: 18px 0 0 7.28516%;
}

.content1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 66;
  width: 80%;
  height: 273px;
  margin-left: 10%;
  border-top: 5px solid rgb(10, 28, 38);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.content1 .text {
  width: 57.0833333333%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.footer {
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 80%;
  height: 273px;
  margin-left: 10%;
  border-top: 5px solid rgb(10, 28, 38);
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(3, 17, 26);
}

.footer .container {
  position: relative;
  float: left;
  width: 24.3782552083%;
  height: 191px;
}

.footer .image {
  position: relative;
  float: left;
}

.footer .text {
  font-weight: 400;
  line-height: 1.38;
}

.header {
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 73;
  width: 80%;
  height: 85px;
  background-color: rgba(13, 50, 72, 0.96);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.offer {
  position: relative;
  float: left;
  clear: both;
  z-index: 53;
  width: 80%;
  height: 299px;
  margin: 19px 0 0 10%;
  border-top: 5px solid rgb(10, 28, 38);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.offer .container {
  float: left;
}

.offer .image {
  position: relative;
  float: left;
  z-index: 52;
  width: 144px;
  margin: 23px 0 0 9.6907599999%;
}

.are .text,
.offer .text {
  text-align: center;
}

.sert {
  position: relative;
  float: left;
  clear: both;
  z-index: 43;
  width: 80%;
  height: 342px;
  margin-left: 10%;
  border-top: 5px solid rgb(10, 28, 38);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.are .container,
.sert .container {
  float: left;
}

.sert .image {
  position: relative;
  float: left;
  clear: both;
  z-index: 42;
  width: 128px;
  margin: 33px 0 0 16.9987%;
}

.title {
  float: left;
  margin: 28px 0 0 2.5%;
  font-size: 1.563em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 3px;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: left;
  width: 15%;
  height: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 17px 3px;
  background-color: rgb(19, 54, 74);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  border-width: 1px;
  border-color: rgb(19, 54, 74);
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  background-color: rgb(255, 255, 255);
  color: rgb(19, 54, 74);
}

._element {
  position: relative;
  float: left;
  z-index: 67;
  width: 80%;
  height: 243px;
  margin: 128px 0 0 10%;
  background-image: url('../images/bg_xq0q.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container-1 {
  position: fixed;
  top: 92px;
  left: 10%;
  z-index: 80;
  width: 80%;
  height: 45px;
}

.container-10 {
  z-index: 22;
  margin: -72px 0 0 5.30762%;
}

.container-11 {
  z-index: 14;
  margin: -191px 0 0 72.50163%;
}

.container-4 {
  position: relative;
  z-index: 62;
  width: 57.0849609374%;
  height: 170px;
  margin: 18px 0 0 9.89421%;
}

.container-6 {
  position: relative;
  clear: both;
  z-index: 51;
  width: 57.0849609374%;
  height: 170px;
  margin: 12px 0 0 6.7627%;
}

.container-3,
.container-5,
.container-7 {
  width: 100%;
  height: 56px;
  margin-top: 1px;
  background-color: rgb(127, 43, 43);
}

.container-8 {
  position: relative;
  z-index: 41;
  width: 47.2916666666%;
  height: 217px;
  margin: 19px 0 0 22.36654%;
}

.container-9 {
  clear: both;
  z-index: 6;
  margin: -72px 0 0 10.93099%;
}

.image-1 {
  float: left;
  width: 88px;
  margin: 16px 0 0 7.5%;
}

.image-10 {
  z-index: 28;
  width: 42px;
  margin: -42px 0 0 4.69076%;
}

.image-11 {
  clear: both;
  z-index: 23;
  width: 36px;
  margin: -75px 0 0 7.80762%;
}

.image-12 {
  z-index: 26;
  width: 40px;
  margin: -75px 0 0 36.4534499999%;
}

.image-13 {
  z-index: 24;
  width: 36px;
  margin: -75px 0 0 69.68913%;
}

.image-2 {
  position: absolute;
  top: 20px;
  left: 93.642578125%;
  z-index: 72;
  width: 35px;
}

.image-3 {
  position: absolute;
  top: 20px;
  left: 86.3525390625%;
  z-index: 71;
  width: 42px;
}

.image-4 {
  position: absolute;
  top: 20px;
  left: 79.4775390625%;
  z-index: 70;
  width: 42px;
}

.image-8 {
  clear: both;
  z-index: 27;
  width: 42px;
  margin: 50px 0 0 7.18262%;
}

.image-9 {
  z-index: 25;
  width: 40px;
  margin: -42px 0 0 1.14909%;
}

.text-1 {
  margin-top: 39px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.text-10,
.text-4 {
  float: left;
  width: 99.8178506375%;
  margin-left: -0.01426%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-11,
.text-5 {
  float: left;
  clear: both;
  width: 99.8178506375%;
  margin-top: 9px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-12,
.text-6 {
  float: left;
  clear: both;
  width: 99.8178506375%;
  margin-top: 15px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-13,
.text-7 {
  float: left;
  clear: both;
  width: 99.8178506375%;
  margin: 14px 0 0 -0.01426%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-14,
.text-8 {
  float: left;
  clear: both;
  width: 99.8178506375%;
  margin: 13px 0 0 -0.01426%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-15 {
  margin: 5px auto 0;
  font-size: 1.438em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-16 {
  float: left;
  width: 99.8178506375%;
  margin: 9px 0 0 -0.01377%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-2 {
  margin-top: 44px;
}

.text-17,
.text-18,
.text-19,
.text-20 {
  float: left;
  clear: both;
  width: 99.8178506375%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-21 {
  float: left;
  clear: both;
  width: 99.817523451%;
  margin-left: -0.01377%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-22,
.text-23,
.text-24 {
  float: left;
  clear: both;
  width: 99.8175182481%;
  margin-left: -0.46118%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-25 {
  float: left;
  margin: 16px 0 0 6.25%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-35 {
  float: left;
  clear: both;
  margin-left: 32.88824%;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-36 {
  float: left;
  clear: both;
  margin: 22px 0 0 8.5658999999%;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-34,
.text-37 {
  float: left;
  clear: both;
  margin-left: 8.5658999999%;
  font-size: 0.875em;
  color: rgb(237, 235, 235);
}

.text-38 {
  width: 46.5749766323%;
  margin: 146px auto 0;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-26,
.text-32,
.text-39 {
  float: left;
  margin-left: -0.00668%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-27,
.text-33,
.text-40 {
  float: left;
  clear: both;
  margin: 7px 0 0 8.5658999999%;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-28,
.text-41 {
  float: left;
  clear: both;
  margin-left: 8.5658999999%;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-29,
.text-42 {
  float: left;
  clear: both;
  margin: 29px 0 0 8.5658999999%;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-30,
.text-43 {
  float: left;
  clear: both;
  margin: 8px 0 0 8.5658999999%;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-31,
.text-44 {
  float: left;
  clear: both;
  margin: 10px 0 0 8.5658999999%;
  font-size: 0.875em;
  color: rgb(180, 175, 175);
}

.text-3,
.text-9 {
  margin: 10px auto 0;
  font-size: 1.438em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.container ._button-1 {
  border-bottom-color: rgb(245, 245, 245);
}

.container ._button-2 {
  margin-left: 1.99382%;
  border-bottom-color: rgb(255, 255, 255);
}

.container ._button-5 {
  margin-left: 1.99382%;
  border-bottom-color: rgb(245, 245, 245);
}

.container ._button-3,
.container ._button-4,
.container ._button-6 {
  margin-left: 1.9987%;
  border-bottom-color: rgb(245, 245, 245);
}

.container ._button-1:hover,
.container ._button-2:hover,
.container ._button-4:hover,
.container ._button-5:hover,
.container ._button-6:hover {
  border-bottom-style: solid;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 768px) {
  .are {
    position: relative;
    z-index: 63;
    margin-left: 9.99756%;
  }

  .are .image {
    position: relative;
    z-index: 56;
    height: auto;
    margin-top: 24px;
    margin-left: 5.3254%;
  }

  .content1 {
    position: relative;
    z-index: 66;
    margin-left: 9.99756%;
  }

  .content1 .text {
    width: 67.2210777955%;
    font-size: 0.938em;
  }

  .footer {
    position: relative;
    z-index: 29;
    margin-left: 9.99756%;
  }

  .footer .container {
    position: relative;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    margin-left: 2.49994%;
    font-size: 1.188em;
  }

  .offer {
    position: relative;
    z-index: 53;
    margin-left: 9.99756%;
  }

  .offer .image {
    position: relative;
    z-index: 52;
    height: auto;
    margin-left: 9.68948%;
  }

  .sert {
    position: relative;
    z-index: 43;
    width: 79.9479166666%;
    height: 376px;
    margin-left: 10.02401%;
  }

  .sert .image {
    position: relative;
    z-index: 42;
    height: auto;
    margin-top: 28px;
    margin-left: 6.4714%;
  }

  ._element {
    position: relative;
    z-index: 67;
    margin-left: 9.99756%;
  }

  .container ._button {
    position: relative;
    font-size: 0.813em;
  }

  .are .container-4 {
    position: relative;
    z-index: 62;
    width: 66.0817374939%;
    height: 193px;
    margin-left: 2.84581%;
  }

  .container .text-10,
  .container .text-13,
  .container .text-14 {
    margin-left: -0.01337%;
  }

  .container .text-15 {
    font-size: 1.25em;
  }

  .container .text-16 {
    margin-top: 0;
    margin-left: -0.00893%;
  }

  .container .text-19 {
    margin-left: -0.00893%;
  }

  .container .text-20 {
    margin-left: 0.18304%;
  }

  .container .text-21 {
    margin-top: 23px;
    margin-left: 0.18304%;
  }

  .container .text-22 {
    margin-top: -46px;
    margin-left: -0.35268%;
  }

  .container .text-23 {
    clear: none;
    margin-top: 5px;
    margin-left: 0.00893%;
  }

  .container .text-18,
  .container .text-24 {
    margin-left: -0.35268%;
  }

  .container .text-27,
  .container .text-28 {
    margin-left: 8.56214%;
    font-size: 0.75em;
  }

  .container .text-29,
  .container .text-30,
  .container .text-31 {
    margin-left: 8.56214%;
    font-size: 0.813em;
  }

  .container .text-34 {
    margin-left: 8.55824%;
    font-size: 0.688em;
  }

  .container .text-35 {
    margin-left: 32.86577%;
  }

  .container .text-33,
  .container .text-36 {
    margin-left: 8.55824%;
    font-size: 0.75em;
  }

  .container .text-37 {
    position: relative;
    z-index: 20;
    margin-left: 8.55824%;
    font-size: 0.688em;
  }

  .container .text-38 {
    position: relative;
    float: left;
    clear: both;
    z-index: 21;
    width: 73.8636363636%;
    margin-top: -2px;
    margin-right: 0;
    margin-left: 13.05043%;
    font-size: 0.75em;
    text-align: center;
  }

  .container .text-26,
  .container .text-32,
  .container .text-39 {
    margin-left: 0;
  }

  .container .text-40,
  .container .text-41,
  .container .text-42,
  .container .text-43,
  .container .text-44 {
    margin-left: 8.55941%;
    font-size: 0.813em;
  }

  .container .text-5,
  .container .text-6 {
    font-size: 0.875em;
  }

  .container .text-4,
  .container .text-7,
  .container .text-8 {
    margin-left: -0.01155%;
    font-size: 0.875em;
  }

  .content1 .text-1 {
    margin-top: 28px;
  }

  .content1 .text-2 {
    margin-top: 23px;
  }

  .footer .container-10 {
    z-index: 22;
    width: 28.6462704407%;
    margin-top: -191px;
    margin-left: 36.32919%;
    border-top-color: rgb(180, 175, 175);
  }

  .footer .container-11 {
    z-index: 14;
    width: 29.6228478421%;
    margin-left: 68.39348%;
    border-top-style: solid;
  }

  .footer .container-9 {
    clear: none;
    z-index: 6;
    width: 28.15798174%;
    margin-top: 20px;
    margin-left: 0;
  }

  .footer .image-10 {
    z-index: 28;
    width: 25px;
    margin-top: -161px;
    margin-left: 65.61888%;
  }

  .footer .image-11 {
    clear: none;
    z-index: 23;
    width: 27px;
    margin-left: 2.79749%;
  }

  .footer .image-12 {
    z-index: 26;
    width: 25px;
    margin-top: -88px;
    margin-left: 32.4534%;
  }

  .footer .image-13 {
    z-index: 24;
    width: 27px;
    margin-left: 65.61888%;
  }

  .footer .image-8 {
    z-index: 27;
    width: 27px;
    margin-left: 2.79749%;
  }

  .footer .image-9 {
    clear: both;
    z-index: 25;
    width: 25px;
    margin-top: -161px;
    margin-left: 32.4534%;
  }

  .footer .text-25 {
    margin-left: 6.24857%;
  }

  .header .image-1 {
    position: relative;
    z-index: 68;
    width: 66px;
    margin-left: 7.49981%;
  }

  .header .image-2 {
    left: 90.7123420055%;
  }

  .header .image-3 {
    left: 83.4210727092%;
  }

  .header .image-4 {
    left: 76.5468833447%;
  }

  .offer .container-6 {
    position: relative;
    z-index: 51;
    margin-left: 6.76229%;
  }

  .sert .container-8 {
    position: relative;
    z-index: 41;
    width: 57.0032573289%;
    height: 242px;
    margin-top: 28px;
    margin-left: 9.2045%;
  }

  .container ._button-1 {
    z-index: 74;
  }

  .container ._button-2 {
    z-index: 75;
    margin-left: 1.98876%;
  }

  .container ._button-3 {
    z-index: 76;
    margin-left: 1.99639%;
  }

  .container ._button-4 {
    z-index: 77;
    margin-left: 1.99639%;
  }

  .container ._button-5 {
    z-index: 78;
    margin-left: 1.98876%;
  }

  .container ._button-6 {
    z-index: 79;
    margin-left: 1.99639%;
  }
}

@media(max-width: 435px) {
  body {
    font-size: 0.875em;
  }

  .are {
    position: relative;
    z-index: 63;
    margin-left: 10%;
  }

  .are .image {
    visibility: hidden;
    position: relative;
    z-index: 56;
    width: 84px;
    height: auto;
    margin-top: 0;
    margin-left: 36.78161%;
  }

  .content1 {
    position: relative;
    z-index: 66;
    margin-left: 10%;
  }

  .container .text-5,
  .container .text-6,
  .content1 .text {
    font-size: 0.857em;
  }

  .footer {
    position: relative;
    z-index: 29;
    height: 653px;
    margin-left: 10%;
  }

  .footer .container {
    position: relative;
    border-top-width: 1px;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    position: relative;
    z-index: 69;
    margin-top: 7px;
    margin-left: 5.7157%;
    font-size: 1.357em;
  }

  .offer {
    position: relative;
    z-index: 53;
    margin-left: 10%;
  }

  .offer .image {
    visibility: hidden;
    position: relative;
    clear: both;
    z-index: 52;
    width: 57px;
    height: auto;
    margin-top: -9px;
    margin-left: 42.38506%;
  }

  .sert {
    position: relative;
    z-index: 43;
    width: 80%;
    margin-left: 10%;
  }

  .sert .image {
    visibility: hidden;
    position: relative;
    z-index: 42;
    height: auto;
    margin-top: 69px;
    margin-left: 78.16541%;
  }

  ._element {
    position: relative;
    z-index: 67;
    margin-top: 232px;
    margin-left: 10%;
  }

  .container ._button {
    position: relative;
    font-size: 0.929em;
  }

  .are .container-4 {
    position: relative;
    clear: both;
    z-index: 62;
    width: 99.7126436781%;
    margin-top: -56px;
    margin-left: 0;
  }

  .container .text-11,
  .container .text-12 {
    font-size: 14px;
  }

  .container .text-15 {
    font-size: 1.071em;
  }

  .container .text-10,
  .container .text-13,
  .container .text-14,
  .container .text-16 {
    margin-left: -0.01351%;
    font-size: 14px;
  }

  .container .text-17 {
    margin-top: 9px;
    font-size: 14px;
  }

  .container .text-18 {
    margin-top: 6px;
    margin-left: -0.13959%;
    font-size: 14px;
  }

  .container .text-19 {
    margin-top: 8px;
    margin-left: -0.01351%;
    font-size: 14px;
  }

  .container .text-20 {
    margin-top: 9px;
    margin-left: -0.01351%;
    font-size: 14px;
  }

  .container .text-21 {
    margin-top: 54px;
    margin-left: -0.13959%;
    font-size: 14px;
  }

  .container .text-22 {
    margin-top: -68px;
    margin-left: 0;
    font-size: 14px;
  }

  .container .text-23 {
    clear: both;
    margin-top: -48px;
    margin-left: -0.13959%;
    font-size: 14px;
  }

  .container .text-24 {
    clear: none;
    margin-left: 0;
    font-size: 14px;
  }

  .container .text-26 {
    margin-left: -0.00618%;
    font-size: 1.143em;
  }

  .container .text-27,
  .container .text-28 {
    margin-left: 8.55361%;
    font-size: 0.857em;
  }

  .container .text-29,
  .container .text-30,
  .container .text-31 {
    margin-left: 8.55361%;
    font-size: 0.929em;
  }

  .container .text-34 {
    margin-left: 8.55655%;
    font-size: 0.786em;
  }

  .container .text-35 {
    margin-left: 32.8497%;
    font-size: 1em;
  }

  .container .text-33,
  .container .text-36 {
    margin-left: 8.55655%;
    font-size: 0.857em;
  }

  .container .text-37 {
    position: relative;
    z-index: 20;
    margin-left: 8.55655%;
    font-size: 0.786em;
  }

  .container .text-38 {
    position: relative;
    z-index: 21;
    margin-left: 13.06424%;
    font-size: 0.857em;
  }

  .container .text-32,
  .container .text-39 {
    font-size: 1.143em;
  }

  .container .text-40,
  .container .text-41,
  .container .text-42,
  .container .text-43,
  .container .text-44 {
    margin-left: 8.56275%;
    font-size: 0.929em;
  }

  .container .text-4,
  .container .text-7,
  .container .text-8 {
    margin-left: -0.01351%;
    font-size: 0.857em;
  }

  .container .text-3,
  .container .text-9 {
    font-size: 1.429em;
  }

  .container-1 {
    left: 10.1149425287%;
    height: 108px;
  }

  .footer .container-10 {
    z-index: 22;
    width: 72.4137931034%;
    margin-top: 21px;
    margin-left: 0.51185%;
    border-top-style: double;
  }

  .footer .container-11 {
    clear: both;
    z-index: 14;
    width: 72.4137931034%;
    margin-top: -142px;
    margin-left: 15.76868%;
    border-top-color: rgb(180, 175, 175);
  }

  .footer .container-9 {
    clear: both;
    z-index: 6;
    width: 72.7011494252%;
    height: 170px;
    margin-top: -53px;
    margin-left: 15.76868%;
  }

  .footer .image-10 {
    clear: both;
    z-index: 28;
    margin-top: 51px;
    margin-left: 8.01904%;
  }

  .footer .image-11 {
    clear: both;
    z-index: 23;
    margin-top: -352px;
    margin-left: 8.01904%;
  }

  .footer .image-12 {
    z-index: 26;
    margin-top: -236px;
    margin-left: 8.01904%;
  }

  .footer .image-13 {
    z-index: 24;
    margin-top: 52px;
    margin-left: 8.32884%;
  }

  .footer .image-8 {
    z-index: 27;
    margin-left: 8.01904%;
  }

  .footer .image-9 {
    z-index: 25;
    margin-top: 125px;
    margin-left: 8.01904%;
  }

  .footer .text-25 {
    margin-left: 6.24551%;
    font-size: 1.143em;
  }

  .header .image-1 {
    position: relative;
    z-index: 68;
    margin-top: 20px;
    margin-left: 5.02425%;
  }

  .header .image-2 {
    top: 40px;
    left: 66.5229885057%;
    width: 29px;
  }

  .header .image-3 {
    top: 40px;
    left: 52.4425287356%;
    width: 29px;
  }

  .header .image-4 {
    top: 40px;
    left: 39.5114942528%;
    width: 29px;
  }

  .offer .container-6 {
    position: relative;
    z-index: 51;
    width: 99.7126436781%;
    margin-top: 23px;
    margin-left: 0.14368%;
  }

  .are .container-3,
  .offer .container-5,
  .sert .container-7 {
    height: 46px;
  }

  .sert .container-8 {
    position: relative;
    clear: both;
    z-index: 41;
    width: 99.7126436781%;
    height: 297px;
    margin-top: -248px;
    margin-left: 0.14368%;
  }

  .container ._button-1 {
    z-index: 74;
    width: 31.8965517241%;
  }

  .container ._button-2 {
    z-index: 75;
    width: 31.8965517241%;
    margin-left: 1.97108%;
  }

  .container ._button-3 {
    z-index: 76;
    width: 31.8965517241%;
    margin-left: 2.0114899999%;
  }

  .container ._button-4 {
    clear: both;
    z-index: 77;
    width: 31.8965517241%;
    margin-top: 9px;
    margin-left: 0;
  }

  .container ._button-5 {
    z-index: 78;
    width: 32.4712643678%;
    margin-top: 9px;
    margin-left: 0.86207%;
  }

  .container ._button-6 {
    z-index: 79;
    width: 31.8965517241%;
    margin-top: 9px;
    margin-left: 2.6356%;
  }
}

@media(max-width: 361px) {
  .are {
    position: relative;
    z-index: 63;
    margin-left: 9.99827%;
  }

  .are .image {
    position: relative;
    z-index: 56;
    height: auto;
    margin-left: 36.7635099999%;
  }

  .content1 {
    position: relative;
    z-index: 66;
    margin-left: 9.99827%;
  }

  .footer {
    position: relative;
    z-index: 29;
    margin-left: 9.99827%;
  }

  .container ._button,
  .footer .container {
    position: relative;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    position: relative;
    clear: both;
    z-index: 69;
    margin-top: -62px;
    margin-left: 14.99757%;
    font-size: 1.286em;
  }

  .offer {
    position: relative;
    z-index: 53;
    margin-left: 9.99827%;
  }

  .offer .image {
    position: relative;
    z-index: 52;
    height: auto;
    margin-left: 42.35784%;
  }

  .sert {
    position: relative;
    z-index: 43;
    width: 79.999134349%;
    margin-left: 9.99827%;
  }

  .sert .image {
    position: relative;
    z-index: 42;
    height: auto;
    margin-top: 124px;
    margin-left: 78.16372%;
  }

  ._element {
    position: relative;
    z-index: 67;
    margin-left: 9.99827%;
  }

  .are .container-4 {
    position: relative;
    z-index: 62;
  }

  .container .text-10,
  .container .text-13,
  .container .text-14,
  .container .text-4,
  .container .text-7,
  .container .text-8 {
    margin-left: -0.00543%;
  }

  .container .text-15 {
    margin-top: 1px;
  }

  .container .text-18 {
    margin-top: 9px;
    margin-left: -0.1302300001%;
  }

  .container .text-19 {
    margin-top: 10px;
    margin-left: 0;
  }

  .container .text-20 {
    margin-top: 8px;
    margin-left: 0;
  }

  .container .text-21 {
    margin-top: 34px;
    margin-left: 0;
  }

  .container .text-22 {
    margin-top: -48px;
    margin-left: -0.89533%;
  }

  .container .text-23 {
    margin-top: 9px;
    margin-left: -0.89533%;
  }

  .container .text-24 {
    clear: both;
    margin-top: 8px;
    margin-left: -0.89533%;
  }

  .container .text-16,
  .container .text-26 {
    margin-left: 0;
  }

  .container .text-27,
  .container .text-28,
  .container .text-29,
  .container .text-30,
  .container .text-31 {
    margin-left: 8.5658999999%;
  }

  .container .text-35 {
    margin-left: 32.88255%;
  }

  .container .text-37 {
    position: relative;
    z-index: 20;
    margin-left: 8.54752%;
  }

  .container .text-38 {
    position: relative;
    z-index: 21;
    margin-left: 13.06037%;
  }

  .container .text-33,
  .container .text-34,
  .container .text-36,
  .container .text-40,
  .container .text-41,
  .container .text-42,
  .container .text-43,
  .container .text-44 {
    margin-left: 8.54752%;
  }

  .footer .container-10 {
    z-index: 22;
    margin-left: 0.54645%;
  }

  .footer .container-11 {
    z-index: 14;
    margin-left: 15.76584%;
  }

  .footer .container-9 {
    z-index: 6;
    margin-left: 15.76584%;
  }

  .footer .image-10 {
    z-index: 28;
    margin-left: 8.0181799999%;
  }

  .footer .image-11 {
    z-index: 23;
    margin-left: 8.0181799999%;
  }

  .footer .image-12 {
    z-index: 26;
    margin-left: 8.0181799999%;
  }

  .footer .image-13 {
    z-index: 24;
    margin-left: 8.32116%;
  }

  .footer .image-8 {
    z-index: 27;
    margin-left: 8.0181799999%;
  }

  .footer .image-9 {
    z-index: 25;
    margin-left: 8.0181799999%;
  }

  .footer .text-25 {
    margin-left: 6.24358%;
  }

  .header .image-1 {
    position: relative;
    z-index: 68;
    width: 53px;
    margin-top: 40px;
    margin-left: 6.45458%;
  }

  .offer .container-6 {
    position: relative;
    z-index: 51;
    margin-left: 0.14067%;
  }

  .sert .container-8 {
    position: relative;
    z-index: 41;
    margin-top: -295px;
    margin-left: 0.13526%;
  }

  .container ._button-1 {
    z-index: 74;
  }

  .container ._button-2 {
    z-index: 75;
    margin-left: 2.00184%;
  }

  .container ._button-3 {
    z-index: 76;
    margin-left: 2.00725%;
  }

  .container ._button-4 {
    z-index: 77;
  }

  .container ._button-5 {
    z-index: 78;
    margin-left: 0.86025%;
  }

  .container ._button-6 {
    z-index: 79;
    margin-left: 2.59698%;
  }
}

@media(max-width: 321px) {
  body {
    font-size: 0.875em;
  }

  .are {
    position: relative;
    z-index: 63;
    margin-left: 9.99319%;
  }

  .are .image {
    position: relative;
    z-index: 56;
    height: auto;
    margin-left: 36.78126%;
  }

  .content1 {
    position: relative;
    z-index: 66;
    margin-left: 9.99319%;
  }

  .content1 .text {
    width: 99.6896866443%;
  }

  .footer {
    position: relative;
    z-index: 29;
    margin-left: 9.99319%;
  }

  .footer .container {
    position: relative;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    position: relative;
    z-index: 69;
    margin-left: 14.99848%;
  }

  .offer {
    position: relative;
    z-index: 53;
    margin-left: 9.99319%;
  }

  .offer .image {
    position: relative;
    z-index: 52;
    height: auto;
    margin-left: 42.37907%;
  }

  .sert {
    position: relative;
    z-index: 43;
    width: 79.9990264797%;
    margin-top: 4px;
    margin-left: 9.99319%;
  }

  .sert .image {
    position: relative;
    z-index: 42;
    height: auto;
    margin-left: 78.16246%;
  }

  ._element {
    position: relative;
    z-index: 67;
    margin-left: 9.99319%;
  }

  .container ._button {
    position: relative;
  }

  .are .container-4 {
    position: relative;
    z-index: 62;
  }

  .container .text-10,
  .container .text-13,
  .container .text-14,
  .container .text-4,
  .container .text-7,
  .container .text-8 {
    margin-left: 0;
  }

  .container .text-15 {
    margin-top: 5px;
    font-size: 0.929em;
  }

  .container .text-18 {
    margin-top: 15px;
    margin-left: 0;
  }

  .container .text-19,
  .container .text-20 {
    margin-top: 7px;
  }

  .container .text-21 {
    margin-top: 32px;
  }

  .container .text-22 {
    margin-top: -43px;
    margin-left: -1.0069%;
  }

  .container .text-23 {
    margin-top: 8px;
    margin-left: -1.0069%;
  }

  .container .text-24 {
    margin-top: 6px;
    margin-left: -1.0069%;
  }

  .container .text-27,
  .container .text-28,
  .container .text-29,
  .container .text-30,
  .container .text-31 {
    margin-left: 8.50352%;
  }

  .container .text-35 {
    margin-left: 32.87959%;
  }

  .container .text-33,
  .container .text-34,
  .container .text-36 {
    margin-left: 8.5371%;
  }

  .container .text-37 {
    position: relative;
    z-index: 20;
    margin-left: 8.5371%;
  }

  .container .text-38 {
    position: relative;
    z-index: 21;
    margin-left: 13.06613%;
  }

  .container .text-40,
  .container .text-41,
  .container .text-42,
  .container .text-43,
  .container .text-44 {
    margin-left: 8.56231%;
  }

  .content1 .text-2 {
    margin-top: 44px;
  }

  .footer .container-10 {
    z-index: 22;
    margin-left: 0.54153%;
  }

  .footer .container-11 {
    z-index: 14;
    margin-left: 15.76514%;
    border-top-style: double;
  }

  .footer .container-9 {
    z-index: 6;
    margin-left: 15.76514%;
  }

  .footer .image-10 {
    z-index: 28;
    margin-left: 8.01339%;
  }

  .footer .image-11 {
    z-index: 23;
    margin-left: 8.01339%;
  }

  .footer .image-12 {
    z-index: 26;
    margin-left: 8.01339%;
  }

  .footer .image-13 {
    z-index: 24;
    margin-left: 8.36021%;
  }

  .footer .image-8 {
    z-index: 27;
    margin-left: 8.01339%;
  }

  .footer .image-9 {
    z-index: 25;
    margin-left: 8.01339%;
  }

  .footer .text-25 {
    margin-left: 6.23669%;
  }

  .header .image-1 {
    position: relative;
    z-index: 68;
    margin-left: 6.48616%;
  }

  .offer .container-6 {
    position: relative;
    z-index: 51;
    margin-left: 0.13995%;
  }

  .sert .container-8 {
    position: relative;
    z-index: 41;
    margin-top: -294px;
    margin-left: 0.13995%;
  }

  .container ._button-1 {
    z-index: 74;
  }

  .container ._button-2 {
    z-index: 75;
    margin-left: 2.00183%;
  }

  .container ._button-3 {
    z-index: 76;
    margin-left: 2.04442%;
  }

  .container ._button-4 {
    z-index: 77;
  }

  .container ._button-5 {
    z-index: 78;
    margin-left: 0.85793%;
  }

  .container ._button-6 {
    z-index: 79;
    margin-left: 2.62854%;
  }
}