body {
  background-color: rgb(255, 255, 255);
  font: 400 0.875em/1.38 Helvetica;
  color: rgb(180, 175, 175);
}

.content1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 48;
  width: 80%;
  height: 595px;
  margin-left: 10%;
  border-top: 5px solid rgb(10, 28, 38);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.content1 .container {
  float: left;
  clear: both;
  width: 48.9583333333%;
  height: 42px;
}

.content1 .text {
  font-weight: 700;
}

.footer {
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 80%;
  height: 273px;
  margin-left: 10%;
  border-top: 5px solid rgb(10, 28, 38);
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(3, 17, 26);
}

.footer .container {
  position: relative;
  float: left;
  width: 24.3782552083%;
  height: 191px;
}

.footer .image {
  position: relative;
  float: left;
}

.header {
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 55;
  width: 80%;
  height: 85px;
  background-color: rgba(13, 50, 72, 0.96);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.title {
  float: left;
  margin: 28px 0 0 2.5%;
  font-size: 1.786em;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 3px;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: left;
  font-size: 1.143em;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}

._element {
  position: relative;
  float: left;
  z-index: 49;
  width: 80%;
  height: 243px;
  margin: 128px 0 0 10%;
  background-image: url('../images/bg_xq0q.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

._input {
  display: block;
  float: left;
  width: 82.3404255319%;
  height: 42px;
  margin-top: -24px;
  padding: 0 10px;
  border-radius: 16px;
  background-color: rgb(242, 242, 242);
  font-size: 0.929em;
  color: rgb(0, 0, 0);
}

._input:active {
  border-width: 3px;
  border-color: rgb(34, 107, 149);
}

._input:focus {
  border-color: rgb(21, 124, 182);
  border-style: solid;
}

.container ._button {
  width: 15%;
  height: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 17px 3px;
  background-color: rgb(19, 54, 74);
}

.container ._button:hover {
  border-width: 1px;
  border-color: rgb(19, 54, 74);
  background-color: rgb(255, 255, 255);
  color: rgb(19, 54, 74);
}

.content1 ._button {
  clear: both;
  width: 27.5%;
  height: 40px;
  margin: 76px 0 0 40.4996744791%;
  border-radius: 15px;
  background-color: rgb(26, 77, 106);
}

.content1 ._button:hover {
  border-width: 2px;
  border-color: rgb(26, 77, 106);
  border-bottom-style: solid;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(26, 77, 106);
}

.content1 ._text {
  position: relative;
  float: left;
}

.container-1 {
  position: fixed;
  top: 92px;
  left: 10%;
  z-index: 62;
  width: 80%;
  height: 45px;
}

.container-3 {
  margin: 34px 0 0 25.51921%;
}

.container-4 {
  margin: 35px 0 0 25.51921%;
}

.container-5 {
  margin: 42px 0 0 25.53874%;
}

.container-6 {
  margin: 35px 0 0 25.53874%;
}

.container-7 {
  clear: both;
  z-index: 6;
  margin: -72px 0 0 10.93099%;
}

.container-8 {
  z-index: 22;
  margin: -72px 0 0 5.30762%;
}

.container-9 {
  z-index: 14;
  margin: -191px 0 0 72.50163%;
}

.image-1 {
  float: left;
  width: 88px;
  margin: 16px 0 0 7.5%;
}

.image-10 {
  z-index: 24;
  width: 36px;
  margin: -75px 0 0 69.68913%;
}

.image-2 {
  position: absolute;
  top: 20px;
  left: 93.642578125%;
  z-index: 54;
  width: 35px;
}

.image-3 {
  position: absolute;
  top: 20px;
  left: 86.3525390625%;
  z-index: 53;
  width: 42px;
}

.image-4 {
  position: absolute;
  top: 20px;
  left: 79.4775390625%;
  z-index: 52;
  width: 42px;
}

.image-5 {
  clear: both;
  z-index: 27;
  width: 42px;
  margin: 50px 0 0 7.18262%;
}

.image-6 {
  z-index: 25;
  width: 40px;
  margin: -42px 0 0 1.14909%;
}

.image-7 {
  z-index: 28;
  width: 42px;
  margin: -42px 0 0 4.69076%;
}

.image-8 {
  clear: both;
  z-index: 23;
  width: 36px;
  margin: -75px 0 0 7.80762%;
}

.image-9 {
  z-index: 26;
  width: 40px;
  margin: -75px 0 0 36.4534499999%;
}

.text-1 {
  margin: 54px auto 0;
  font-size: 1.571em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-10 {
  float: left;
  margin: 16px 0 0 6.25%;
  font-size: 1.143em;
  color: rgb(255, 255, 255);
}

.text-2 {
  z-index: 32;
  margin-left: -16.25%;
  font-size: 1.286em;
  color: rgb(0, 0, 0);
}

.text-20 {
  float: left;
  clear: both;
  margin-left: 32.88824%;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-21 {
  float: left;
  clear: both;
  margin: 22px 0 0 8.5658999999%;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-19,
.text-22 {
  float: left;
  clear: both;
  margin-left: 8.5658999999%;
  font-size: 1em;
  color: rgb(237, 235, 235);
}

.text-23 {
  width: 46.5749766323%;
  margin: 146px auto 0;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-11,
.text-17,
.text-24 {
  float: left;
  margin-left: -0.00668%;
  font-size: 1.143em;
  color: rgb(255, 255, 255);
}

.text-12,
.text-18,
.text-25 {
  float: left;
  clear: both;
  margin: 7px 0 0 8.5658999999%;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-13,
.text-26 {
  float: left;
  clear: both;
  margin-left: 8.5658999999%;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-14,
.text-27 {
  float: left;
  clear: both;
  margin: 29px 0 0 8.5658999999%;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-15,
.text-28 {
  float: left;
  clear: both;
  margin: 8px 0 0 8.5658999999%;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-16,
.text-29 {
  float: left;
  clear: both;
  margin: 10px 0 0 8.5658999999%;
  font-size: 1em;
  color: rgb(180, 175, 175);
}

.text-3 {
  clear: both;
  z-index: 33;
  width: 17.4468085106%;
  margin: -6px 0 0 -16.24668%;
  font-size: 1.071em;
  color: rgb(96, 89, 89);
}

.text-4 {
  z-index: 36;
  margin-left: -15.82447%;
  font-size: 1.286em;
  color: rgb(0, 0, 0);
}

.text-5 {
  clear: both;
  z-index: 37;
  width: 17.4468085106%;
  margin: -6px 0 0 -15.81782%;
  font-size: 1.071em;
  color: rgb(96, 89, 89);
}

.text-6 {
  z-index: 40;
  margin-left: -16.45612%;
  font-size: 1.286em;
  color: rgb(0, 0, 0);
}

.text-7 {
  clear: both;
  z-index: 41;
  width: 31.7021276595%;
  margin: -7px 0 0 -16.45612%;
  font-size: 1.071em;
  color: rgb(96, 89, 89);
}

.text-8 {
  z-index: 44;
  margin-left: -15.82447%;
  font-size: 1.286em;
  color: rgb(0, 0, 0);
}

.text-9 {
  clear: both;
  z-index: 45;
  width: 17.4468085106%;
  margin: -6px 0 0 -15.81782%;
  font-size: 1.071em;
  color: rgb(96, 89, 89);
}

.container ._button-1 {
  border-bottom-color: rgb(245, 245, 245);
}

.container ._button-2 {
  margin-left: 1.99382%;
  border-bottom-color: rgb(255, 255, 255);
}

.container ._button-5 {
  margin-left: 1.99382%;
  border-bottom-color: rgb(245, 245, 245);
}

.container ._button-3,
.container ._button-4,
.container ._button-6 {
  margin-left: 1.9987%;
  border-bottom-color: rgb(245, 245, 245);
}

.container ._button-1:hover,
.container ._button-2:hover,
.container ._button-4:hover,
.container ._button-5:hover,
.container ._button-6:hover {
  border-bottom-style: solid;
}

.container ._input-1 {
  margin-left: 16.2466755319%;
}

.container ._input-2 {
  margin-left: 15.8178191489%;
}

.container ._input-3 {
  margin-left: 2.2007978723%;
}

.container ._input-4 {
  margin-left: 15.821143617%;
}

.container ._input-2:focus,
.container ._input-3:focus,
.container ._input-4:focus {
  border-width: 2px;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-2 span,
.text-3 span,
.text-4 span,
.text-5 span,
.text-6 span,
.text-7 span,
.text-8 span,
.text-9 span {
  font-size: NaN;
}

@media(max-width: 768px) {
  body {
    font-size: 0.813em;
  }

  .content1 {
    position: relative;
    z-index: 48;
    margin-left: 9.99756%;
  }

  .content1 .container {
    width: 48.978917118%;
  }

  .footer {
    position: relative;
    z-index: 29;
    margin-top: 1885px;
    margin-left: 9.99756%;
  }

  .footer .container {
    position: relative;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    margin-left: 2.49994%;
    font-size: 1.462em;
  }

  ._element {
    position: relative;
    z-index: 49;
    margin-left: 9.99756%;
  }

  .container ._button {
    position: relative;
    font-size: 1em;
  }

  .container ._input {
    width: 84.6189784053%;
    font-size: 1em;
  }

  .content1 ._button {
    font-size: 1.231em;
  }

  .content1 ._text {
    position: relative;
  }

  .container .text-12,
  .container .text-13 {
    margin-left: 8.56214%;
    font-size: 0.923em;
  }

  .container .text-14,
  .container .text-15,
  .container .text-16 {
    margin-left: 8.56214%;
    font-size: 13px;
  }

  .container .text-19 {
    margin-left: 8.55824%;
    font-size: 0.846em;
  }

  .container .text-2 {
    z-index: 32;
    margin-left: -16.24695%;
    font-size: 1.385em;
  }

  .container .text-20 {
    margin-left: 32.86577%;
    font-size: 1.077em;
  }

  .container .text-18,
  .container .text-21 {
    margin-left: 8.55824%;
    font-size: 0.923em;
  }

  .container .text-22 {
    position: relative;
    z-index: 20;
    margin-left: 8.55824%;
    font-size: 0.846em;
  }

  .container .text-23 {
    position: relative;
    float: left;
    clear: both;
    z-index: 21;
    width: 73.8636363636%;
    margin-top: -2px;
    margin-right: 0;
    margin-left: 13.05043%;
    font-size: 0.923em;
    text-align: center;
  }

  .container .text-11,
  .container .text-17,
  .container .text-24 {
    margin-left: 0;
    font-size: 1.231em;
  }

  .container .text-25,
  .container .text-26,
  .container .text-27,
  .container .text-28,
  .container .text-29 {
    margin-left: 8.55941%;
    font-size: 13px;
  }

  .container .text-3 {
    z-index: 33;
    margin-left: -16.24176%;
    font-size: 1.154em;
  }

  .container .text-4 {
    z-index: 36;
    margin-left: -15.81598%;
    font-size: 1.385em;
  }

  .container .text-5 {
    z-index: 37;
    margin-left: -15.81079%;
    font-size: 1.154em;
  }

  .container .text-6 {
    z-index: 40;
    margin-left: -16.44945%;
    font-size: 1.385em;
  }

  .container .text-7 {
    z-index: 41;
    margin-left: -16.44426%;
    font-size: 1.154em;
  }

  .container .text-8 {
    z-index: 44;
    margin-left: -15.81598%;
    font-size: 1.385em;
  }

  .container .text-9 {
    z-index: 45;
    margin-left: -15.81079%;
    font-size: 1.154em;
  }

  .content1 .container-3 {
    clear: none;
    margin-top: 118px;
    margin-left: 10.73981%;
  }

  .content1 .container-4 {
    margin-left: 39.87437%;
  }

  .content1 .container-5,
  .content1 .container-6 {
    margin-left: 39.90743%;
  }

  .content1 .text-1 {
    float: left;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.692em;
  }

  .footer .container-7 {
    clear: none;
    z-index: 6;
    width: 28.15798174%;
    margin-top: 20px;
    margin-left: 0;
  }

  .footer .container-8 {
    z-index: 22;
    width: 28.6462704407%;
    margin-top: -191px;
    margin-left: 36.32919%;
    border-top-color: rgb(180, 175, 175);
  }

  .footer .container-9 {
    z-index: 14;
    width: 29.6228478421%;
    margin-left: 68.39348%;
    border-top-style: solid;
  }

  .footer .image-10 {
    z-index: 24;
    width: 27px;
    margin-left: 65.61888%;
  }

  .footer .image-5 {
    z-index: 27;
    width: 27px;
    margin-left: 2.79749%;
  }

  .footer .image-6 {
    clear: both;
    z-index: 25;
    width: 25px;
    margin-top: -161px;
    margin-left: 32.4534%;
  }

  .footer .image-7 {
    z-index: 28;
    width: 25px;
    margin-top: -161px;
    margin-left: 65.61888%;
  }

  .footer .image-8 {
    clear: none;
    z-index: 23;
    width: 27px;
    margin-left: 2.79749%;
  }

  .footer .image-9 {
    z-index: 26;
    width: 25px;
    margin-top: -88px;
    margin-left: 32.4534%;
  }

  .footer .text-10 {
    margin-left: 6.24857%;
    font-size: 1.231em;
  }

  .header .image-1 {
    position: relative;
    z-index: 50;
    width: 66px;
    margin-left: 7.49981%;
  }

  .header .image-2 {
    left: 90.7123420055%;
  }

  .header .image-3 {
    left: 83.4210727092%;
  }

  .header .image-4 {
    left: 76.5468833447%;
  }

  .container ._button-1 {
    z-index: 56;
  }

  .container ._button-2 {
    z-index: 57;
    margin-left: 1.98876%;
  }

  .container ._button-3 {
    z-index: 58;
    margin-left: 1.99639%;
  }

  .container ._button-4 {
    z-index: 59;
    margin-left: 1.99639%;
  }

  .container ._button-5 {
    z-index: 60;
    margin-left: 1.98876%;
  }

  .container ._button-6 {
    z-index: 61;
    margin-left: 1.99639%;
  }

  .container ._input-1 {
    position: relative;
    z-index: 31;
  }

  .container ._input-2 {
    position: relative;
    z-index: 35;
  }

  .container ._input-4 {
    position: relative;
    z-index: 43;
  }
}

@media(max-width: 435px) {
  .content1 {
    position: relative;
    z-index: 48;
    margin-left: 10%;
  }

  .content1 .container {
    width: 48.9807830459%;
  }

  .footer {
    position: relative;
    z-index: 29;
    height: 653px;
    margin-left: 10%;
  }

  .footer .container {
    position: relative;
    border-top-width: 1px;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    position: relative;
    z-index: 51;
    margin-top: 7px;
    margin-left: 5.7157%;
  }

  ._container {
    height: 108px;
  }

  ._element {
    position: relative;
    z-index: 49;
    margin-top: 232px;
    margin-left: 10%;
  }

  .container ._button {
    position: relative;
  }

  .container ._input {
    width: 84.365862573%;
  }

  .content1 ._text {
    position: relative;
  }

  .container .text-11 {
    margin-left: -0.00618%;
  }

  .container .text-12,
  .container .text-13,
  .container .text-14,
  .container .text-15,
  .container .text-16 {
    margin-left: 8.55361%;
  }

  .container .text-2 {
    z-index: 32;
    margin-left: -16.24347%;
  }

  .container .text-20 {
    margin-left: 32.8497%;
  }

  .container .text-18,
  .container .text-19,
  .container .text-21 {
    margin-left: 8.55655%;
  }

  .container .text-22 {
    position: relative;
    z-index: 20;
    margin-left: 8.55655%;
  }

  .container .text-23 {
    position: relative;
    z-index: 21;
    margin-left: 13.06424%;
  }

  .container .text-25,
  .container .text-26,
  .container .text-27,
  .container .text-28,
  .container .text-29 {
    margin-left: 8.56275%;
  }

  .container .text-3 {
    z-index: 33;
    margin-left: -16.24347%;
  }

  .container .text-4 {
    z-index: 36;
    margin-left: -15.8218%;
  }

  .container .text-5 {
    z-index: 37;
    margin-left: -15.80347%;
  }

  .container .text-6 {
    z-index: 40;
    margin-left: -16.44514%;
  }

  .container .text-7 {
    z-index: 41;
    margin-left: -16.44514%;
  }

  .container .text-8 {
    z-index: 44;
    margin-left: -15.8218%;
  }

  .container .text-9 {
    z-index: 45;
    margin-left: -15.80347%;
  }

  .container-1 {
    left: 10.1149425287%;
  }

  .content1 .container-3 {
    clear: both;
    margin-top: 34px;
    margin-left: 25.53879%;
  }

  .content1 .container-4 {
    margin-left: 70.39781%;
  }

  .content1 .container-5,
  .content1 .container-6 {
    margin-left: 70.45618%;
  }

  .footer .container-7 {
    clear: both;
    z-index: 6;
    width: 72.7011494252%;
    height: 170px;
    margin-top: -53px;
    margin-left: 15.76868%;
  }

  .footer .container-8 {
    z-index: 22;
    width: 72.4137931034%;
    margin-top: 21px;
    margin-left: 0.47593%;
    border-top-style: double;
  }

  .footer .container-9 {
    clear: both;
    z-index: 14;
    width: 72.4137931034%;
    margin-top: -142px;
    margin-left: 15.76868%;
    border-top-color: rgb(180, 175, 175);
  }

  .footer .image-10 {
    z-index: 24;
    margin-top: 52px;
    margin-left: 8.29292%;
  }

  .footer .image-5 {
    z-index: 27;
    margin-left: 8.01904%;
  }

  .footer .image-6 {
    z-index: 25;
    margin-top: 125px;
    margin-left: 8.01904%;
  }

  .footer .image-7 {
    clear: both;
    z-index: 28;
    margin-top: 51px;
    margin-left: 8.01904%;
  }

  .footer .image-8 {
    clear: both;
    z-index: 23;
    margin-top: -352px;
    margin-left: 8.01904%;
  }

  .footer .image-9 {
    z-index: 26;
    margin-top: -236px;
    margin-left: 8.01904%;
  }

  .footer .text-10 {
    margin-left: 6.24551%;
  }

  .header .image-1 {
    position: relative;
    z-index: 50;
    margin-top: 20px;
    margin-left: 5.02425%;
  }

  .header .image-2 {
    top: 40px;
    left: 66.5229885057%;
    width: 29px;
  }

  .header .image-3 {
    top: 40px;
    left: 52.4425287356%;
    width: 29px;
  }

  .header .image-4 {
    top: 40px;
    left: 39.5114942528%;
    width: 29px;
  }

  .container ._button-1 {
    z-index: 56;
    width: 31.8965517241%;
  }

  .container ._button-2 {
    z-index: 57;
    width: 31.8965517241%;
    margin-left: 1.94864%;
  }

  .container ._button-3 {
    z-index: 58;
    width: 31.8965517241%;
    margin-left: 1.97557%;
  }

  .container ._button-4 {
    clear: both;
    z-index: 59;
    width: 31.8965517241%;
    margin-top: 9px;
    margin-left: 0;
  }

  .container ._button-5 {
    z-index: 60;
    width: 32.4712643678%;
    margin-top: 9px;
    margin-left: 0.86207%;
  }

  .container ._button-6 {
    z-index: 61;
    width: 31.8965517241%;
    margin-top: 9px;
    margin-left: 2.6356%;
  }

  .container ._input-1 {
    position: relative;
    z-index: 31;
  }

  .container ._input-2 {
    position: relative;
    z-index: 35;
  }

  .container ._input-4 {
    position: relative;
    z-index: 43;
  }
}

@media(max-width: 361px) {
  body {
    font-size: 0.813em;
  }

  .content1 {
    position: relative;
    z-index: 48;
    margin-left: 9.99827%;
  }

  .footer {
    position: relative;
    z-index: 29;
    margin-left: 9.99827%;
  }

  .container ._button,
  .content1 ._text,
  .footer .container {
    position: relative;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    position: relative;
    clear: both;
    z-index: 51;
    margin-top: -62px;
    margin-left: 14.99757%;
    font-size: 1.385em;
  }

  ._element {
    position: relative;
    z-index: 49;
    margin-left: 9.99827%;
  }

  .container .text-11 {
    margin-left: 0;
  }

  .container .text-12,
  .container .text-13,
  .container .text-14,
  .container .text-15,
  .container .text-16 {
    margin-left: 8.5658999999%;
  }

  .container .text-2 {
    z-index: 32;
    margin-left: -16.23951%;
  }

  .container .text-20 {
    margin-left: 32.88255%;
  }

  .container .text-22 {
    position: relative;
    z-index: 20;
    margin-left: 8.54752%;
  }

  .container .text-23 {
    position: relative;
    z-index: 21;
    margin-left: 13.06037%;
  }

  .container .text-18,
  .container .text-19,
  .container .text-21,
  .container .text-25,
  .container .text-26,
  .container .text-27,
  .container .text-28,
  .container .text-29 {
    margin-left: 8.54752%;
  }

  .container .text-3 {
    z-index: 33;
    margin-left: -16.23951%;
  }

  .container .text-4 {
    z-index: 36;
    margin-left: -15.80691%;
  }

  .container .text-5 {
    z-index: 37;
    margin-left: -15.80691%;
  }

  .container .text-6 {
    z-index: 40;
    margin-left: -16.4475900001%;
  }

  .container .text-7 {
    z-index: 41;
    margin-left: -16.4475900001%;
  }

  .container .text-8 {
    z-index: 44;
    margin-left: -15.80691%;
  }

  .container .text-9 {
    z-index: 45;
    margin-left: -15.80691%;
  }

  .content1 .container-3 {
    width: 48.9747335389%;
    margin-left: 25.62355%;
  }

  .content1 .container-4 {
    width: 48.9808335868%;
    margin-left: 84.8293%;
  }

  .content1 .container-5 {
    width: 48.9808335868%;
    margin-left: 84.89964%;
  }

  .content1 .container-6 {
    margin-left: 84.89964%;
  }

  .footer .container-7 {
    z-index: 6;
    margin-left: 15.76584%;
  }

  .footer .container-8 {
    z-index: 22;
    margin-left: 0.54645%;
  }

  .footer .container-9 {
    z-index: 14;
    margin-left: 15.76584%;
  }

  .footer .image-10 {
    z-index: 24;
    margin-left: 8.32116%;
  }

  .footer .image-5 {
    z-index: 27;
    margin-left: 8.0181799999%;
  }

  .footer .image-6 {
    z-index: 25;
    margin-left: 8.0181799999%;
  }

  .footer .image-7 {
    z-index: 28;
    margin-left: 8.0181799999%;
  }

  .footer .image-8 {
    z-index: 23;
    margin-left: 8.0181799999%;
  }

  .footer .image-9 {
    z-index: 26;
    margin-left: 8.0181799999%;
  }

  .footer .text-10 {
    margin-left: 6.24358%;
  }

  .header .image-1 {
    position: relative;
    z-index: 50;
    width: 53px;
    margin-top: 40px;
    margin-left: 6.45458%;
  }

  .container ._button-1 {
    z-index: 56;
  }

  .container ._button-2 {
    z-index: 57;
    margin-left: 2.00184%;
  }

  .container ._button-3 {
    z-index: 58;
    margin-left: 2.00725%;
  }

  .container ._button-4 {
    z-index: 59;
  }

  .container ._button-5 {
    z-index: 60;
    margin-left: 0.86025%;
  }

  .container ._button-6 {
    z-index: 61;
    margin-left: 2.58075%;
  }

  .container ._input-1 {
    position: relative;
    z-index: 31;
    width: 84.3089788732%;
  }

  .container ._input-2 {
    position: relative;
    z-index: 35;
    width: 84.4866071428%;
  }

  .container ._input-3 {
    width: 84.4866071428%;
  }

  .container ._input-4 {
    position: relative;
    z-index: 43;
  }
}

@media(max-width: 321px) {
  .content1 {
    position: relative;
    z-index: 48;
    margin-left: 9.99319%;
  }

  .footer {
    position: relative;
    z-index: 29;
    margin-top: 1889px;
    margin-left: 9.99319%;
  }

  .footer .container {
    position: relative;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .header .image {
    height: auto;
  }

  .header .title {
    position: relative;
    z-index: 51;
    margin-left: 14.99848%;
  }

  ._element {
    position: relative;
    z-index: 49;
    margin-left: 9.99319%;
  }

  .container ._button,
  .content1 ._text {
    position: relative;
  }

  .container .text-12,
  .container .text-13,
  .container .text-14,
  .container .text-15,
  .container .text-16 {
    margin-left: 8.50352%;
  }

  .container .text-2 {
    z-index: 32;
    margin-left: -16.24845%;
  }

  .container .text-20 {
    margin-left: 32.87959%;
  }

  .container .text-18,
  .container .text-19,
  .container .text-21 {
    margin-left: 8.5371%;
  }

  .container .text-22 {
    position: relative;
    z-index: 20;
    margin-left: 8.5371%;
  }

  .container .text-23 {
    position: relative;
    z-index: 21;
    margin-left: 13.06613%;
  }

  .container .text-25,
  .container .text-26,
  .container .text-27,
  .container .text-28,
  .container .text-29 {
    margin-left: 8.56231%;
  }

  .container .text-3 {
    z-index: 33;
    margin-left: -16.2236%;
  }

  .container .text-4 {
    z-index: 36;
    margin-left: -15.80124%;
  }

  .container .text-5 {
    z-index: 37;
    margin-left: -15.80124%;
  }

  .container .text-6 {
    z-index: 40;
    margin-left: -16.43478%;
  }

  .container .text-7 {
    z-index: 41;
    margin-left: -16.42236%;
  }

  .container .text-8 {
    z-index: 44;
    margin-left: -15.81563%;
  }

  .container .text-9 {
    z-index: 45;
    margin-left: -15.81563%;
  }

  .content1 .container-3 {
    width: 48.9808335868%;
    margin-left: 25.70125%;
  }

  .content1 .container-4 {
    margin-left: 95.40006%;
  }

  .content1 .container-5,
  .content1 .container-6 {
    margin-left: 95.47308%;
  }

  .footer .container-7 {
    z-index: 6;
    margin-left: 15.76514%;
  }

  .footer .container-8 {
    z-index: 22;
    margin-left: 0.54153%;
  }

  .footer .container-9 {
    z-index: 14;
    margin-left: 15.76514%;
    border-top-style: double;
  }

  .footer .image-10 {
    z-index: 24;
    margin-left: 8.36021%;
  }

  .footer .image-5 {
    z-index: 27;
    margin-left: 8.01339%;
  }

  .footer .image-6 {
    z-index: 25;
    margin-left: 8.01339%;
  }

  .footer .image-7 {
    z-index: 28;
    margin-left: 8.01339%;
  }

  .footer .image-8 {
    z-index: 23;
    margin-left: 8.01339%;
  }

  .footer .image-9 {
    z-index: 26;
    margin-left: 8.01339%;
  }

  .footer .text-10 {
    margin-left: 6.23669%;
  }

  .header .image-1 {
    position: relative;
    z-index: 50;
    margin-left: 6.48616%;
  }

  .container ._button-1 {
    z-index: 56;
  }

  .container ._button-2 {
    z-index: 57;
    margin-left: 2.00183%;
  }

  .container ._button-3 {
    z-index: 58;
    margin-left: 2.04442%;
  }

  .container ._button-4 {
    z-index: 59;
  }

  .container ._button-5 {
    z-index: 60;
    margin-left: 0.85793%;
  }

  .container ._button-6 {
    z-index: 61;
    margin-left: 2.62854%;
  }

  .container ._input-1 {
    position: relative;
    z-index: 31;
    width: 84.4866071428%;
  }

  .container ._input-2 {
    position: relative;
    z-index: 35;
  }

  .container ._input-4 {
    position: relative;
    z-index: 43;
  }
}